body { background: #10a273; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 16px; display: flex; }
.block-user-0 { color: #d1d970; font-size: 21px; margin-bottom: 5px; }
.block-sms-1 { color: #452824; font-size: 16px; margin-bottom: 5px; }
.block-search-2 { color: #c50eb1; font-size: 12px; margin-bottom: 5px; }
.block-product-3 { color: #350829; font-size: 20px; margin-bottom: 5px; }
.block-router-4 { color: #9bdc9e; font-size: 12px; margin-bottom: 5px; }